<include href="views/header.html" xmlns="http://www.w3.org/1999/html"></include>
    <div class="container">
        <div class="row">
            <div class="col-6 bg-light border">
                <h2>Home Lander</h2>
                <img src="img/homelander.jpg">
                <p>
                Home lander is lorem ipsum<br>
                Home lander is lorem ipsum<br>
                38% rating<br>
                Height: 6'<br>
                Powers: super strength, laser eyes, flight<br>
                Known weaknesses: vanity
                </p>
            </div>
            <div class="col-6 bg-light border">
                <h2>News</h2>
                <h4>10-15-24</h4>
                <p>Info info info Info info info<br>
                Info info info Info info info <hr>
                </p>
                <h4>12-2-24</h4>
                <p>Homelander lasers crowd<br>
                Info info info<br>
                Info info info<br>
                Info info info
                </p>
            </div>
            <div class="col-6 bg-light border">
                <h2>Blog</h2>
                <p>
                    10-16-24: Little boy alive thanks to me<hr>
                    12-2-24: These terrorists coming after me won't be allowed to continue...
                </p>
            </div>
            <div class="col-6 bg-light border">
                <h2>Comments and Reviews</h2>
                <h3>10-15-24</h3>
                <p>Bob: Oh wow he saves a kid<hr>
                Steve: Oh wow that crowd is gone...<hr>
                </p>
            </div>
        </div>
    </div>
</body>
</html>