<include href="views/header.html"></include>
<body>
    <!--Top heroes row-->
    <div class="container row-height">
        <div class="row ms-1 p-2 border border-dark">
            <h3 class="text-center">Top Heroes</h3>

            <div class="overflow-x-scroll">
                <div class="d-flex flex-nowrap">
                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/SpiderMan2099.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Spider-Man 2099</h3>
                            <p class="text-center">Hero's stats go here after database implementation</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/wonderman.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Wonder Man</h3>
                            <p class="text-center">Strength - 8/10</p>
                            <p class="text-center">Energy - 6/10</p>
                            <p class="text-center">Intellect - 4/10 </p>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/homelander.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Homelander</h3>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/homelander.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Homelander</h3>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/homelander.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Homelander</h3>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
        </div>
    </div>

    <!--Bottom heroes row-->
    <div class="container row-height mt-2">
        <div class="row ms-1 p-2 border border-dark">
            <h3 class="text-center">Worst Heroes</h3>

            <div class="overflow-x-scroll">
                <div class="d-flex flex-nowrap">
                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/homelander.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Homelander</h3>
                            <p class="text-center">Heroe's stats go here after database implementation</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/SpiderMan2099.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Spider-Man 2099</h3>
                            <p class="text-center">Hero's stats go here after database implementation</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/wonderman.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Wonder Man</h3>
                            <p class="text-center">Strength - 8/10 energy - 6/10 Intellect - 4/10 </p>
                            <p class="text-center">Energy - 6/10</p>
                            <p class="text-center">Intellect - 4/10 </p>
                            <p class="text-center">Bio:  </p>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/homelander.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Homelander</h3>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>

                    <a href="hero" class="card col-3 mx-2" >
                        <img class="card-img-top p-2" src="img/homelander.jpg" alt="hero">
                        <div class="card-body">
                            <h3 class="text-center">Homelander</h3>
                            <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
